.buttonContainer{
    position: fixed;
    bottom: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.swipeButton{
    background-color: #fff;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, .3) !important;
}

.swipeButton__replay{
    padding: 2vw !important;
    color: #f5b748 !important;
}

.swipeButton__close{
    padding: 2vw !important;
    color: #ec5e6f !important;
}

.swipeButton__star{
    padding: 2vw !important;
    color: #62b4f9 !important;
}

.swipeButton__favorite{
    padding: 2vw !important;
    color: #76e2b3 !important;
}

.swipeButton__flash{
    padding: 2vw !important;
    color: #915dd1 !important;
}


